body,
.v-application {
    font-family: "Inter", sans-serif !important;
}

@media (min-width: 1264px) {
    .container {
        max-width: 1185px;
    }
}

@media (min-width: 1904px) {
    .container {
        max-width: 1185px;
    }
}

.theme--dark.v-sheet {
    background-color: #121212;
}

.text-h5 {
    font-size: 1.25rem !important;
    font-weight: 400 !important;
    letter-spacing: normal !important;
}
.text-overline {
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.1666666667em !important;
    text-transform: uppercase !important;
}

/* Educator Dashboard CSS */

.cds-dashboard {
    /* this is just a wrapper to "scope" the css styles */
}
.cds-dashboard .my-buttons {
    width: 100%;
    background-color: var(--md-blue-800) !important;
    color: white !important;
    margin-bottom: 5px;
}

.cds-dashboard .my-buttons.student-name-button {
    width: auto;
    min-width: 200px;
}

.cds-dashboard .my-cards {
    max-width: 98%;
    padding: 10px;
}

.cds-dashboard .v-dialog {
    box-shadow: none;
}

.cds-dashboard .my-success {
    margin-block: 10px;
}

.cds-dashboard .dialog-button {
    position: absolute;
    right: 1.5rem;
    bottom: 0.5rem;
    background-color: var(--md-blue-800) !important;
    color: white !important;
}

.cds-dashboard .col {
    padding-block: 0;
}

.cds-dashboard .vertical-tabs {
    width: 100%;
}

.cds-dashboard .vertical-tabs[aria-selected="true"] {
    background-color: var(--md-deep-orange-800) !important;
    color: white;
}

.cds-dashboard .v-tabs--vertical .v-tabs-slider {
    color: var(--md-deep-orange-800);
}

.cds-dashboard .horizontal-tabs[aria-selected="true"] {
    color: var(--md-blue-700) !important;
    font-weight: 800;
}

.cds-dashboard .v-btn__content {
    font-size: small;
}

.cds-dashboard .v-btn--contained {
    padding-block: 0;
}

.cds-dashboard .v-card__text {
    /* color: black !important; */
    padding-top: 0;
    padding-bottom: 16px;
}

.cds-dashboard .info-text {
    padding: 0.5rem;
}

.cds-dashboard .v-expansion-panel-header {
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

/* Disable plotly tools */
.cds-dashboard .modebar {
    display: none !important;
}

.cds-dashboard #click-any-row-for-more-detailed-question-information {
    padding-left: 0.625rem; /* 10px @ 16px/rem */
}
.cds-dashboard #select-a-student-from-the-table-above-to-see-their-responses {
    padding-left: 0.625rem;
}

.cds-dashboard .solara-markdown {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.theme--dark .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: #1e1e1e;
}

.theme--light .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: white;
}
/* make vertical tabs horizontal on tall screns */
/* 1130 to account for plot legend overlap */
@media (max-width: 1130px) {
    .cds-dashboard .v-tabs--vertical {
        display: block;
    }

    .cds-dashboard .v-tabs--vertical > .v-tabs-bar > .v-slide-group__wrapper {
        flex: 0 1 auto;
    }
    .cds-dashboard .v-tabs--vertical > .v-tabs-bar .v-tabs-bar__content {
        flex-direction: row;
    }
}

.cds-dashboard .my-buttons {
    width: 100%;
    background-color: var(--md-blue-800) !important;
    color: white !important;
    margin-bottom: 5px;
}

.cds-dashboard .my-buttons.student-name-button {
    width: auto;
    min-width: 200px;
}

.cds-dashboard .my-cards {
    max-width: 98%;
    padding: 10px;
}

.dash-card {
    max-width: 98%;
    padding: 10px;
    border: 1px solid var(--info) !important;
}

.cds-dashboard .v-dialog {
    box-shadow: none;
}

.cds-dashboard .my-success {
    margin-block: 10px;
}

.cds-dashboard .dialog-button {
    position: absolute;
    right: 1.5rem;
    bottom: 0.5rem;
    background-color: var(--md-blue-800) !important;
    color: white !important;
}

.dash-dialog-button {
    position: absolute;
    right: 1.5rem;
    bottom: 0.5rem;
    background-color: var(--md-blue-800) !important;
    color: white !important;
}

.cds-dashboard .col {
    padding-block: 0;
}

.cds-dashboard .vertical-tabs {
    width: 100%;
}

.cds-dashboard .vertical-tabs[aria-selected="true"] {
    background-color: var(--md-deep-orange-800) !important;
    color: white;
}

.cds-dashboard .vertical-tabs[aria-selected="false"] {
    color: rgba(255, 255, 255, 0.8) !important;
}

.cds-dashboard .v-tabs--vertical .v-tabs-slider {
    color: var(--md-deep-orange-800);
}

.cds-dashboard .horizontal-tabs[aria-selected="true"] {
    color: var(--md-blue-700) !important;
    font-weight: 800;
}

.cds-dashboard .v-btn__content {
    font-size: small;
}

.cds-dashboard .v-btn--contained {
    padding-block: 0;
}

.cds-dashboard .v-card__text {
    /* color: black !important; */
    padding-top: 0;
    padding-bottom: 16px;
}

.cds-dashboard .info-text {
    padding: 0.5rem;
}

.cds-dashboard .v-expansion-panel-header {
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

/* Disable plotly tools */
.cds-dashboard .modebar {
    display: none !important;
}

.cds-dashboard #click-any-row-for-more-detailed-question-information {
    padding-left: 0.625rem; /* 10px @ 16px/rem */
}
.cds-dashboard #select-a-student-from-the-table-above-to-see-their-responses {
    padding-left: 0.625rem;
}

.cds-dashboard .solara-markdown {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.theme--dark .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: #1e1e1e;
}

.theme--light .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: white;
}
/* make vertical tabs horizontal on tall screns */
/* 1130 to account for plot legend overlap */
@media (max-width: 1130px) {
    .cds-dashboard .v-tabs--vertical {
        display: block;
    }

    .cds-dashboard .v-tabs--vertical > .v-tabs-bar > .v-slide-group__wrapper {
        flex: 0 1 auto;
    }
    .cds-dashboard .v-tabs--vertical > .v-tabs-bar .v-tabs-bar__content {
        flex-direction: row;
    }
}
