body,
.v-application {
    font-family: "Inter", sans-serif !important;
}

@media (min-width: 1264px) {
    .container {
        max-width: 1185px;
    }
}

@media (min-width: 1904px) {
    .container {
        max-width: 1185px;
    }
}

.theme--dark.v-sheet {
    background-color: #121212;
}

.text-h5 {
    font-size: 1.25rem !important;
    font-weight: 400 !important;
    letter-spacing: normal !important;
}
.text-overline {
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.1666666667em !important;
    text-transform: uppercase !important;
}
